body {
  background-color: #848484;
  color: #e2e2e2;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
}

input {
  padding: 0.5em;
}

.center-text {
  text-align: center;
}

form {
  margin-bottom: 2em;
}

/* Item list */
ul {
  list-style: none;
  padding: 0;
}

.item {
  border-bottom: 1px solid white;
  clear: both;
  display: block;
  height: 6em;
  margin: 0 auto;
  max-width: 30em;
}

.item a {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.item:hover {
  background-color: #6f8bb7;
}

.item-image {
  float: left;
}

.item-title {
  font-size: 1.25em;
  height: 100%;
  text-align: center;
}

.item-title h3 {
  margin: 0;
  padding-top: 1.5em;
  text-transform: uppercase;
}
/* end item list */

/* Details */
.details-container {
  margin: 0 auto;
  max-width: 80em;
}

.item-background-container {
  position: relative;
}

.item-background {
  position: absolute;
  z-index: -1;
}

.details {
  max-width: 40em;
  margin: 0 auto;
  padding-top: 2em;
}

.details a {
  color: inherit;
}

.details-header-icon {
  border: 2px solid white;
}

.details-header-text {
  margin-left: 7em;
}

.details-header-text h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

.details-header-text h1, .details-header-text h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.details-header-icon {
  float: left;
}

.details-header-desc {
  clear: both;
  margin-top: 3em;
}

.details-stat dd, .details-stat dt {
  display: inline-block;
}
/* end details */

